.cardListContainer{
    transform-style: preserve-3d;
    perspective: 3000px;
    @apply flex w-full overflow-hidden;
}

.cardContainer{
    transform: rotateY(0deg);
    transform-origin: left;
    outline: none;
    @apply text-white mr-bkl flex flex-col justify-between h-hcard transition-transform duration-500 ease-in-out;
}

.cardContainer:hover{
    transform-origin: left;
    transform: rotateY(30deg);
}

.cardChange:hover{
    transform-origin: left;
    transform: rotateY(390deg);
}

.cardChange{
    transform-origin: left;
    transform: rotateY(360deg);
}

.cardCover{
    @apply absolute z-20 w-bk2wl h-hcard;
}
.cardImage{
    opacity: 0.75;
    @apply absolute z-10 w-bk2wl transition-opacity duration-500;
}
.cardImage img{
    @apply w-auto max-w-full h-hcard object-cover;
}

.arrowcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    margin-right: 8.1vw;
}
.rightarrowhidden, .leftarrowhidden{
    visibility: hidden;
}

.rightarrowactivate, .rightarrowhidden, .leftarrowactivate, .leftarrowhidden{
    @apply w-bkw flex .items-center outline-none h-h2;
}

.rightarrowactivate span{
    @apply w-bkw absolute bg-white;
    height: 2px;
    transition: width 0.5s 0.5s;
}

.rightarrowhidden span{
    width: 0px;
}

.rightarrowactivate span::before, .rightarrowactivate span::after{
    height: 2px;
    width: 1.2vw;
    background-color: white;
    position: absolute;
    right: 0;
    content: "";
    transition: width 0.5s 0.5s, transform 0.5s ease-out 1s;
}

.rightarrowactivate span::before{
    transform: rotate(30deg);
    transform-origin: right;
}

.rightarrowactivate span::after{
    transform: rotate(-30deg);
    transform-origin: right;
}

.rightarrowhidden span::before, .rightarrowhidden span::after {
    width: 0px;
    content: "";
}

.leftarrowactivate span{
    @apply w-bkw absolute bg-white;
    height: 2px;
    transition: width 0.5s 0.5s;
}

.leftarrowhidden span{
    width: 0px;
}

.leftarrowactivate span::before, .leftarrowactivate span::after{
    height: 2px;
    width: 1.2vw;
    background-color: white;
    position: absolute;
    left: 0;
    content: "";
    transition: width 0.5s 0.5s, transform 0.5s 1s;
}

.leftarrowactivate span::before{
    transform: rotate(30deg);
    transform-origin: left;
}

.leftarrowactivate span::after{
    transform: rotate(-30deg);
    transform-origin: left;
}

.leftarrowhidden span::before, .leftarrowhidden span::after {
    width: 0px;
    content: "";
}
