.scrolldown { animation: godown infinite 2s ease-in-out }
@keyframes godown {
    0%, 100% {
        transform: translateY(-25%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
  }

  .container{
      display: flex;
      flex-direction: column;
      padding-top: 15vh;
  }