.container {
    padding-top: 1vh;
    width: 2vh;
    height: 2vh;
    position: absolute;
    right: calc( 3.3vw - 2vh);
    outline: none;
}

.container span {
    width: 2vh;
    height: 1px;
    position: absolute;
}

.white span, .white span::before, .white span::after{
    background-color: white;
}

.dark span, .dark span::before, .dark span::after{
    background-color: black;
}

.triggered span::before, .triggered span::after{
    height: 1px;
    width: 2vh;
    position: absolute;
    left: 0;
    content: "";
}

.normal span::before, .normal span::after{
    height: 1px;
    width: 2vh;
    position: absolute;
    left: 0;
    content: "";
}

.triggered span {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.5s cubic-bezier(0.91, 0.03, 0.12, 1);
    transform: rotate(45deg);
}

.normal span {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.5s cubic-bezier(0.91, 0.03, 0.12, 1);
    transform-origin: center center;
}

.triggered span::before {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.2s cubic-bezier(0.91, 0.03, 0.12, 1);
    transform: rotate(90deg);
}

.normal span::before {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.5s cubic-bezier(0.91, 0.03, 0.12, 1);
    top: -0.6vh;
}

.triggered span::after {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.2s cubic-bezier(0.91, 0.03, 0.12, 1);
    transform: rotate(90deg);
}

.normal span::after {
    transition: transform 0.5s cubic-bezier(0.91, 0.03, 0.12, 1), 
    background 0.5s cubic-bezier(0.91, 0.03, 0.12, 1);
    top: 0.6vh;
}