.postHead{
    font-size: 3vw;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin-bottom: 2vh;
}
.postContainer{
    overflow: hidden;
    @apply h-hpost w-wpost;
}
.scrollContent{
    transition: transform .2s ease;
    position: relative;
}
.postContainer::-webkit-scrollbar{
    display: none;
}

.markdown {
    @apply text-content;
}

.markdown h1 {
    @apply text-h1;
}

.markdown a{
    @apply text-teal-700;
}
  

.markdown h2 {
    font-size: 2vw;
    @apply mt-4 mb-4 leading-snug font-semibold;
}
  
.markdown h3 {
    font-size: 1.75vw;
    @apply mb-4 leading-snug font-medium;
}

.markdown h4 {
    @apply text-h4 mb-4 leading-snug font-medium;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-4;
}

.markdown ul ul{
    list-style-type: circle;
    @apply ml-6;
    @apply list-inside;
}

.markdown ul{
    @apply list-disc list-inside;
}

.markdown blockquote {
    @apply border-l-4 border-gray-500;
    @apply pl-4;
    @apply text-gray-600;
}

.markdown pre {
    border-radius: 5px;
}

.markdown img {
    box-shadow: 5px 5px 5px gray;
}