.progressBarBK{
    height: 1vh;
    top: calc(-2.6vw - 1vh);
    background-color: gray;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    position: relative;
    z-index: -1;
}

.progressBar{
    height: 1vh;
    width: 0%;
    background-color: goldenrod;
    content: '';
    position: relative;
    top: -2.6vw;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    transition: width .3s ease;
}