.progressBarBK{
    max-height: 1vh;
    top: -2.6vw;
    background-color: gray;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    position: relative;
    z-index: 20;
    transition: all .2s ease .2s;
}

.progressBar{
    height: 1vh;
    width: 0%;
    background-color: goldenrod;
    content: '';
    position: relative;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    transition: width .2s ease;
    z-index: 30
}