.headerText{
    writing-mode: vertical-lr;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tocContainer{
    border-top-color: white;
    border-top-width: 2px;
    animation: fadeIn .5s ease 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 1vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
}

.header2{
    font-size: 1.75vw;
    outline: none;
}

.header3{
    font-size: 1.25vw;
    margin-left: 1vw;
    outline: none;
}

.header4{
    font-size: 1vw;
    margin-left: 1vw;
    outline: none;
}

.point{
    height: 10px;
    width: 10px;
    position: relative;
    top: -6px;
    border-radius: 5px;
    background: white;
    margin: 0 auto;
}

.ring{
    height: 20px;
    width: 20px;
    position: relative;
    top: -22px;
    border-radius: 10px;
    border-top-color: white;
    border-top-width: 2px;
    margin: 0 auto;
}

