.pos_0, .pos_1, .pos_2, .pos_3, .pos_n1, .pos_n2, .pos_n3{
  transition: top 0.5s ease-out;
  @apply relative pr-bkl;
}

.pos_0{
  top: 0vh;
}

.pos_1{
  top: 68vh;
}

.pos_2{
  top: 136vh;
}

.pos_3{
  top: 204vh;
}

.pos_n1{
  top: -68vh;
}

.pos_n2{
  top: -136vh;
}

.pos_n3{
  top: -204vh;
}
